# PYTHON PROGRAMMING FUNDAMENTALS

# 우리가 배울것 : 반복문 - Loop    
- For Loops
- Break a loop
- Continue statement
- Range 
- While Loops
- Nested loops
- List Comprehension

# <font color='blue'> 비가 오는 동안, 나는 막걸리를 계속 마시겠다. 비가 그치면, 그만 먹고 집에 갈래요.

### 실행 순서에 대한 문법을 배웁시다.

In [3]:
my_list = [11, 222, 30, 10, 22, 68]

In [6]:
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])
print(my_list[4])
print(my_list[5])

11
222
30
10
22
68

In [8]:
my_list

[11, 222, 30, 10, 22, 68]

In [7]:
for value in my_list :  # value = 222 
    print(value)

11
222
30
10
22
68

In [10]:
my_list

[11, 222, 30, 10, 22, 68]

In [9]:
for value in my_list:  # value = 11
    new_value = value + 10 
    print(new_value)
print('hello')

21
232
40
20
32
78
hello

# FOR LOOPS 
- 영어가 설명이 정확합니다. For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).

- 한번에 하나의 항목만 가져와서, 원하는 대로 처리합니다.

## 리스트 데이터를 loop 돌면서 처리한다.

In [11]:
my_list = [ 'hello', 'this', 'is', 'python', 'class' ]

In [12]:
for  word  in my_list :   # word = 'hello'  
    print( word+'?' )

hello?
this?
is?
python?
class?

In [13]:
my_list

['hello', 'this', 'is', 'python', 'class']

In [16]:
for item in my_list :
    
    if item == 'is' :
        print(item + ' a good')
    else :
        print(item)

hello
this
is a good
python
class

## 문자열 데이터를 루프 돌면서 처리한다.

In [17]:
sentence = 'Hello World'

In [18]:
for letter in sentence : # letter = 'H'    
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [19]:
numbers = [1, 3, 5, 7, 9, 11]

In [20]:
sum(numbers)

36

In [21]:
total = 0
for i in numbers :
    total = total + i
print(total)

36

In [22]:
numbers = [1, 3, 5, 7, 9, 11]

In [23]:
total = 1
for i in numbers :
    total = total * i
print(total)

10395

### 리스트를 루프 돈다.

## 리스트의 인덱스값과, 매칭되어 저장되어있은 값을 함께 출력

In [25]:
my_list = ["apple", "mango", "watermelon", "banana"]

In [26]:
for index, fruit in enumerate(my_list) :
    print(index, fruit)

0 apple
1 mango
2 watermelon
3 banana

## 딕셔너리 데이터를 for 루프 : key

In [27]:
my_dict = {'room' : 'ballroom', 'weapon' : 'lead pipe', 'person':'Mike'}

In [28]:
for  item  in my_dict : 
    print(item)

room
weapon
person

## 딕셔너리 value 값을 for 루프

In [29]:
for value in my_dict.values() :
    print(value)

ballroom
lead pipe
Mike

## 키 밸류를 튜플 로 프린트

In [30]:
my_dict

{'room': 'ballroom', 'weapon': 'lead pipe', 'person': 'Mike'}

In [31]:
for  (key, value)  in my_dict.items() :
    print(key + '는 ' + value +'입니다.')

room는 ballroom입니다.
weapon는 lead pipe입니다.
person는 Mike입니다.

## 키, 밸류 값을 각각 가져와서 원하는 처리를 함

# 결론은? 데이터가 나열되어 있는 것들(리스트 등등)은, for 를 통해 쉽게 원하는 값을 가져올 수 있다.

# BREAK A LOOP/CONTINUE          
## 코드 실행 순서를 바꿔보자     
- 자신을 감싸고 있는 루프의 { } 괄호를 벗어난다. break() is used to exit a for loop or a while loop
- 루프의 처음 조건으로 돌아간다. continue() is used to skip the current block, and return to the "for" or "while" statement.

## 누가?????      코드의 실행 순서가!!!!!!!!!!!!! 바뀐다!!!!!!!!!!!!!!!!!!!!!!!!!

In [33]:
my_list.append('blueberries')

In [34]:
print(my_list)

['apple', 'mango', 'watermelon', 'banana', 'blueberries']

In [38]:
for  fruit   in my_list :
    if fruit == 'banana' :
        print('hi')
        break
        print('world')
    else :
        print(fruit)
print('hello')

apple
mango
watermelon
hi
hello

In [39]:
my_list = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
for i in my_list :
    if i % 2 == 1 :
        continue
    print(i)

2
4
6
8
10

# RANGE 함수
- range() 함수는, 숫자 **리스트**를 만들어 준다.
- range() 함수는,  인덱스가 0 부터 시작한다. 
- 레인지의 괄호 안에 적는 숫자 갯수만큼 만든다.  
- Example: range(0, 10) generates integers from 0 up to, but not including, 10.

In [41]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
my_list2 = list(range(0, 11))

In [46]:
print(my_list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
range(10)

range(0, 10)

In [48]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
list(range(1, 101, 2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [51]:
list(range(3,101,3))

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [53]:
for i in range(1, 11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

# WHILE LOOPS 
- While loop 는, 조건식을 만족하는 동안, 자신이 포함하는 문장들을 실행한다.

## Infinite Loop : 무한루프

- ## 롯데리아에서 키오스크로 햄버거 주문할때, 유저가 버튼 누를때까지 화면은 계속 나오고 있다.
- ## 게임이 시작되고 나면, 유저가 화장실을 갔다와도 게임은 계속 진행되고 있다.

# NESTED LOOPS
- 루프 안애 또 루프가 들어가는 경우.

# LIST COMPREHENSION 
- 원본 리스트를 가지고, 다른 리스트를 만드는 방법 
- for 나 while 없이, loop 를 실행시키는 아름다운 방법

## 문법을 잘 봅시다.