# PYTHON PROGRAMMING 기초
## PRINT AND GET USER INPUT

# PRINT 함수
- print() 함수는, 화면에 출력하는 함수다.

### [강의참고 : print 설명 ](https://vision-ai.tistory.com/entry/파이썬-화면-출력-print-함수)

In [1]:
x = "Welcome to this python course."

In [2]:
y = "즐겁게 배웁시다."

In [3]:
type(x)

str

In [4]:
x
y

'즐겁게 배웁시다.'

In [5]:
print(x)
print(y)

Welcome to this python course.
즐겁게 배웁시다.

# USER INPUT - 사용자에게서 직접 입력을 받는 경우
- input 함수는, 유저한테서 직접 입력을 받는다.

### [강의참고 : input 설명 ](  https://vision-ai.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%82%AC%EC%9A%A9%EC%9E%90%EC%97%90%EA%B2%8C-%EC%9E%85%EB%A0%A5%EB%B0%9B%EA%B8%B0-User-Input)

In [1]:
name = input('이름 입력하시오 ')

이름 입력하시오 홍길동

In [2]:
print(name)

홍길동

In [3]:
age = input()

33

In [4]:
print(age)

33

In [5]:
name = input("이름 입력 : ")
age = input("나이 입력 : ")
address = input("주소 입력 : ")

print("제 이름은 {}이고, 나이는 {}살이며, {}에 삽니다.".format(name, age, address))

이름 입력 : 홍길동
나이 입력 : 33
주소 입력 : 종로구
제 이름은 홍길동이고, 나이는 33살이며, 종로구에 삽니다.

In [6]:
num1 = input("첫번째 숫자 : ")
num2 = input("두번째 숫자 : ")
result = num1 + num2
print("{} 와 {} 의 합은 {} 입니다.".format(num1, num2, result))

첫번째 숫자 : 3
두번째 숫자 : 4
3 와 4 의 합은 34 입니다.

In [7]:
type(num1)

str

In [8]:
num1

'3'

In [9]:
num2

'4'

In [10]:
type(num2)

str

## 형변환 
- '3' 은 숫자가 아니다. 따라서 숫자로 바꿔줘야 한다.
- 기본데이터타입은 총 3개
- 바꾸는 방법은? int(), float(), str()

In [11]:
num1 = input('첫번째 숫자 입력 : ')

첫번째 숫자 입력 : 3

In [12]:
type(num1)

str

In [14]:
num1 =  int(num1)

In [15]:
type(num1)

int

In [16]:
num1

3

In [17]:
num1 = input("첫번째 숫자 : ")
num2 = input("두번째 숫자 : ")
num1 = int(num1)
num2 = int(num2)
result = num1 + num2
print("{} 와 {} 의 합은 {} 입니다.".format(num1, num2, result))

첫번째 숫자 : 3
두번째 숫자 : 4
3 와 4 의 합은 7 입니다.