# <font color='red'> *실습* </font> 
# <font color='red'> DICTIONARIES AND BOOLEANS </font>

# <font color='blue'> 1. 밸류들을 전부 곱한 값을 출력하는 코드를 만드세요. </font>

In [1]:
my_dict = {'data1':500,
           'data2':-10,
           'data3':300}

In [2]:
my_dict['data1'] * my_dict['data2'] * my_dict['data3']

-1500000

# <font color='blue'> 2. 각 학생별로, 중간과 기말의 평균점수를 구하세요.

In [3]:
student_details = [
  {'student_id' : 1, 'subject' : 'math', 'midterm' : 60, 'final' : 85},
  {'student_id' : 2, 'subject' : 'math', 'midterm' : 80, 'final' : 78},
  {'student_id' : 3, 'subject' : 'math', 'midterm' : 90, 'final' : 85}
]

In [11]:
avg1 = (student_details[0]['midterm'] + student_details[0]['final'] ) / 2

In [12]:
avg2 = (student_details[1]['midterm'] + student_details[1]['final'] ) / 2

In [13]:
avg3 =(student_details[2]['midterm'] + student_details[2]['final'] ) / 2

In [14]:
print(avg1)
print(avg2)
print(avg3)

72.5
79.0
87.5

# <font color='blue'> 3. 위에서 구한 평균점수를,"AVERAGE" 라는 키를 새로 만들어서, 각 학생의 딕셔너리에 추가하세요.

In [15]:
student_details

[{'student_id': 1, 'subject': 'math', 'midterm': 60, 'final': 85},
 {'student_id': 2, 'subject': 'math', 'midterm': 80, 'final': 78},
 {'student_id': 3, 'subject': 'math', 'midterm': 90, 'final': 85}]

In [17]:
student_details[0]['average'] = avg1

In [19]:
student_details[1]['average'] = avg2

In [20]:
student_details[2]['average'] = avg3

In [21]:
student_details

[{'student_id': 1,
  'subject': 'math',
  'midterm': 60,
  'final': 85,
  'average': 72.5},
 {'student_id': 2,
  'subject': 'math',
  'midterm': 80,
  'final': 78,
  'average': 79.0},
 {'student_id': 3,
  'subject': 'math',
  'midterm': 90,
  'final': 85,
  'average': 87.5}]

# <font color='blue'> 4. 각각의 숫자를,  제곱한 값으로 바꾸세요.

In [22]:
dictionary = {'C1' : [10,20,30],
              'C2' : [20,30,40]}

In [26]:
dictionary['C1'][0]   =   dictionary['C1'][0] ** 2

In [28]:
dictionary['C1'][1]   =   dictionary['C1'][1] ** 2

In [29]:
dictionary['C1'][2]   =   dictionary['C1'][2] ** 2

In [31]:
dictionary['C2'][0]   =   dictionary['C2'][0] ** 2

In [32]:
dictionary['C2'][1]   =   dictionary['C2'][1] ** 2

In [33]:
dictionary['C2'][2]   =   dictionary['C2'][2] ** 2

In [34]:
dictionary

{'C1': [100, 400, 900], 'C2': [400, 900, 1600]}

# <font color='blue'>  5. (1)모든 키를 리스트로 출력하세요. (2) 모든 밸류를 리스트로 출력하세요. (3) 모든 밸류의 값을 다 더하세요.

In [36]:
my_salary = {"alex": 25, "sally": 28, "dina": 30}

In [39]:
print(list(my_salary.keys()))

['alex', 'sally', 'dina']

In [42]:
print(list(my_salary.values()))

[25, 28, 30]

In [43]:
sum(list(my_salary.values()))

83

In [44]:
max(list(my_salary.values()))

30

In [45]:
min(list(my_salary.values()))

25

# <font color='blue'>  6. 딕셔너리의 길이를 구하고, 나이에 대한 오름차순으로 정렬하세요.

In [46]:
my_dict = {"sally": 23, "dina": 22, "holy": 50, "Joe": 10, "Peter": 44}

In [47]:
len(my_dict)

5

In [48]:
my_list =  list(my_dict.values())

In [49]:
print(my_list)

[23, 22, 50, 10, 44]

In [50]:
my_list.sort()

In [51]:
print(my_list)

[10, 22, 23, 44, 50]

# <font color='blue'> 7. 다음 코드를 실행해서 결과를 확인하세요. </font>

In [52]:
x = 10
y = 20
print(x>y)
print(x<y)
print(x==y)
print(x!=y)

False
True
False
True