# PYTHON PROGRAMMING FUNDAMENTALS
# TUPLES AND SETS

# TUPLES 

- Immutable Python objects. 
- 튜플은 시퀀스, 즉 순서가 있습니다. 
- 튜플은 괄호 ( ) 를 사용합니다.

In [1]:
empty_tuple = ()

In [2]:
my_tuple = ( 1, 2, 3 )

In [3]:
my_tuple[-1]

3

In [4]:
my_tuple[ : 2]

(1, 2)

In [5]:
my_tuple.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
my_tuple

(1, 2, 3)

In [7]:
del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [8]:
my_tuple

(1, 2, 3)

In [9]:
my_tuple[1] = 10

TypeError: 'tuple' object does not support item assignment

In [13]:
my_list = list(my_tuple)

In [14]:
my_list[0] = my_list[0] ** 2
my_list[1] = my_list[1] ** 2
my_list[2] = my_list[2] ** 2

In [15]:
print(my_list)

[1, 4, 9]

# SETS
- 셋에 들어있는 데이터는 순서가 없습니다.
- 셋에는 동일한 값이 저장되지 않습니다. 우리가 배웠던 집합과 같습니다. 
- 셋은 중괄호 { } 로 정의합니다.

In [16]:
my_set = { 1, 2, 3}

In [17]:
my_set.add(100)

In [18]:
print(my_set)

{1, 2, 3, 100}

In [19]:
my_set.add(3)

In [20]:
print(my_set)

{1, 2, 3, 100}

In [21]:
my_set.discard(1)

In [22]:
print(my_set)

{2, 3, 100}

In [23]:
my_list = [ 1, 2, 3, 4, 3, 2, 2, 4, 8, 10, 2, 3, 4, 3, 6]

In [24]:
len(my_list)

15

In [25]:
my_set = set(my_list)

In [26]:
print(my_set)

{1, 2, 3, 4, 6, 8, 10}

In [27]:
len(my_set)

7